body {
  overflow-y: hidden; 
  overflow-x: hidden; 
  background-color: black;
}


.posters{
  width: 100%;
  padding: auto;
  margin: auto;
}

.main{
  width: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
  padding-right: 10%; 
  padding-left: 10%;
}

.abstract{
  width: 35%;
  margin-top: 3%;
  margin-bottom: 3%;
}
